In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

### 네이버 금융의 환율 정보 웹스크레핑
- https://finance.naver.com/marketindex/

In [10]:
url = 'https://finance.naver.com'
# 염두해 둘 부분은 ajax가 사용되는지, iframe tag가 사용된 것인지 
# 데이터 형태가 html ,xml  등 markup language를 쉽게 파싱하고 데이터를 추출하는 모듈 
# => beautifu soup
pageInfo = urlopen( url + '/marketindex/')
# BeautifulSoup 객체를 만든다 =>  DOM tree를 메모리에 로드한다 <= 행위 : 파싱
soup = BeautifulSoup( pageInfo,  'html.parser')

In [11]:
# 원본 확인 및 보기 좋게 데코레이션 
#print( soup.prettify() )

In [13]:
# 환율 정보가 있는 iframe를 찾는다 (관찰및 분석을 통해서 확인했음)
# 사이트 원 주소 : https://finance.naver.com/marketindex/
# 환율 정보 주소는 : https://finance.naver.com/marketindex/exchangeList.nhn
exchangeUrl = soup.select_one('#frame_ex1')['src']
# 환율 정보 풀 주소
exchangeUrl = url + exchangeUrl
print( exchangeUrl )
# iframe는 최초 soup에서 접근이 않됨 -> 재접속 필요

https://finance.naver.com/marketindex/exchangeList.nhn

In [53]:
# 환율 정보 제공 업체, 날짜, 회차 정보 수집
div = soup.find('div', class_='exchange_info')
print(div)
# 방법 2
# 텍스트를 둘러싸고 있는 span를 찾는다
exchange_metaInfo = []
for span in div.find_all('span'):
    #print( span.get_text() )
    if span['class'][0] == 'standard':
        print('->',span.get_text() )
    # 고시회차
    if span.find('em'):
        exchange_metaInfo.append( span.find('em').get_text() )
        #print( span.find('em').get_text() )
    else:
        # 날짜, 공급처
        #print( span.get_text() )
        exchange_metaInfo.append( span.get_text() )

exchange_metaInfo
#print( exchange_metaInfo[1].replace(' 기준', '') )
#print( exchange_metaInfo[1][:len(' 기준')*-1] )
# 데이터 보정
exchange_metaInfo[1] = exchange_metaInfo[1][:len(' 기준')*-1]
# 디비에서 환율을 구분할 코드 데이터 추가
exchange_metaInfo.append('%s_%s' % (exchange_metaInfo[0].replace('.','')[:8], 
                                    exchange_metaInfo[2]) )
print( exchange_metaInfo )

#print( '%s_%s' % (exchange_metaInfo[0].replace('.','')[:8], exchange_metaInfo[2]) )
#print( exchange_metaInfo[0].replace('.','').split()[0] )
# ['2018.10.10 10:31', 'KEB하나은행 기준', '095']
# '20181010_095' 를 동적으로 생성하여서 
# exchange_metaInfo에 추가하시오
# ['2018.10.10 10:31', 'KEB하나은행', '095', '20181010_095']


# 방법 1
# 텍스트를 다 뽑아서 이리 저리 전처리해서 데이터를 뽑는 방법
# '\n2018.10.10 10:31\nKEB하나은행 기준\n고시회차 095회\n'
#div.text[1:-1].split('\n')
# ['2018.10.10 10:31', 'KEB하나은행 기준', '고시회차 095회']

<div class="exchange_info">
<span class="date">2018.10.10 10:31</span>
<span class="standard">KEB하나은행 기준</span>
<span class="round">고시회차 <em>095</em>회</span>
</div>
-> KEB하나은행 기준
['2018.10.10 10:31', 'KEB하나은행', '095', '20181010_095']

In [45]:
# 환율 정보 수집을 위한 재접속
exchangeUrl

'https://finance.naver.com/marketindex/exchangeList.nhn'

In [46]:
res = urlopen( exchangeUrl )
if_soup = BeautifulSoup( res, 'html5lib' )
print( if_soup )

<html lang="ko"><head>
<title>네이버 금융</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="text/javascript" http-equiv="Content-Script-Type"/>
<meta content="text/css" http-equiv="Content-Style-Type"/>
<link href="/css/finance.css?20181004080316" rel="stylesheet" type="text/css"/>

<script language="javascript">document.domain="naver.com";</script>
<script src="/js/info/jindo.min.ns.1.5.3.euckr.js" type="text/javascript"></script>
<script src="/js/lcslog.js?20181004080316" type="text/javascript"></script>
</head>
<body>
<div class="tbl_area">
	<table border="1" class="tbl_exchange" summary="환전 고시 환율 리스트">
	<caption>환전 고시 환율</caption>
	<colgroup>
		<col width="162"/>
		<col width="92"/>
		<col width="92"/>
		<col width="92"/>
		<col width="93"/>
		<col width="92"/>
		<col width="90"/>
	</colgroup>
	<thead>
	<tr>
	<th class="th_ex1" rowspan="2">
	<a href="#" onclick="javascript:changeOrder('exchange'); return false;"><span>통화명</span></a></th>
	<th class="th_ex2" rowspan="2"><span>매매기준율</span></th>
	<th class="th_ex3" colspan="2"><span>현찰</span></th>
	<th class="th_ex4" colspan="2"><span>송금</span></th>
	<th class="th_ex6" rowspan="2"><span>미화환산율</span></th>
	</tr>
	<tr>
	<th class="th_ex7"><span>사실 때 </span></th>
	<th class="th_ex8"><span>파실 때 </span></th>
	<th class="th_ex9"><span>보내실 때 </span></th>
	<th class="th_ex10"><span>받으실 때</span></th>
	</tr>
		</thead>
			<tbody>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_USDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_USDKRW', '1', event);" target="_parent">




					미국 USD

				</a></td>
				<td class="sale">1,132.90</td>
				<td>1,152.72</td>
				<td>1,113.08</td>
				<td>1,144.00</td>
				<td>1,121.80</td>
				<td>1.000</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_EURKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_EURKRW', '2', event);" target="_parent">




					유럽연합 EUR

				</a></td>
				<td class="sale">1,303.97</td>
				<td>1,329.91</td>
				<td>1,278.03</td>
				<td>1,317.00</td>
				<td>1,290.94</td>
				<td>1.151</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_JPYKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_JPYKRW', '3', event);" target="_parent">

					일본 JPY (100엔)




				</a></td>
				<td class="sale">1,002.26</td>
				<td>1,019.79</td>
				<td>984.73</td>
				<td>1,012.08</td>
				<td>992.44</td>
				<td>0.885</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_CNYKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_CNYKRW', '4', event);" target="_parent">




					중국 CNY

				</a></td>
				<td class="sale">163.59</td>
				<td>171.76</td>
				<td>155.42</td>
				<td>165.22</td>
				<td>161.96</td>
				<td>0.144</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_HKDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_HKDKRW', '5', event);" target="_parent">




					홍콩 HKD

				</a></td>
				<td class="sale">144.57</td>
				<td>147.41</td>
				<td>141.73</td>
				<td>146.01</td>
				<td>143.13</td>
				<td>0.128</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_TWDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_TWDKRW', '6', event);" target="_parent">




					대만 TWD

				</a></td>
				<td class="sale">36.58</td>
				<td>41.37</td>
				<td>34.02</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.032</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_GBPKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_GBPKRW', '7', event);" target="_parent">




					영국 GBP

				</a></td>
				<td class="sale">1,490.67</td>
				<td>1,520.03</td>
				<td>1,461.31</td>
				<td>1,505.57</td>
				<td>1,475.77</td>
				<td>1.316</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_OMRKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_OMRKRW', '8', event);" target="_parent">




					오만 OMR

				</a></td>
				<td class="sale">2,942.67</td>
				<td>3,204.56</td>
				<td>2,766.11</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>2.598</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_CADKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_CADKRW', '9', event);" target="_parent">




					캐나다 CAD

				</a></td>
				<td class="sale">875.37</td>
				<td>892.61</td>
				<td>858.13</td>
				<td>884.12</td>
				<td>866.62</td>
				<td>0.773</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_CHFKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_CHFKRW', '10', event);" target="_parent">




					스위스 CHF

				</a></td>
				<td class="sale">1,143.59</td>
				<td>1,166.11</td>
				<td>1,121.07</td>
				<td>1,155.02</td>
				<td>1,132.16</td>
				<td>1.009</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_SEKKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_SEKKRW', '11', event);" target="_parent">




					스웨덴 SEK

				</a></td>
				<td class="sale">124.67</td>
				<td>127.72</td>
				<td>121.62</td>
				<td>125.91</td>
				<td>123.43</td>
				<td>0.110</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_AUDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_AUDKRW', '12', event);" target="_parent">




					호주 AUD

				</a></td>
				<td class="sale">806.62</td>
				<td>822.51</td>
				<td>790.73</td>
				<td>814.68</td>
				<td>798.56</td>
				<td>0.712</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_NZDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_NZDKRW', '13', event);" target="_parent">




					뉴질랜드 NZD

				</a></td>
				<td class="sale">735.37</td>
				<td>749.85</td>
				<td>720.89</td>
				<td>742.72</td>
				<td>728.02</td>
				<td>0.649</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_CZKKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_CZKKRW', '14', event);" target="_parent">




					체코 CZK

				</a></td>
				<td class="sale">50.52</td>
				<td>54.81</td>
				<td>45.98</td>
				<td>51.07</td>
				<td>49.97</td>
				<td>0.045</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_CLPKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_CLPKRW', '15', event);" target="_parent">




					칠레 CLP

				</a></td>
				<td class="sale">1.66</td>
				<td>1.79</td>
				<td>1.53</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.002</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_TRYKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_TRYKRW', '16', event);" target="_parent">




					터키 TRY

				</a></td>
				<td class="sale">185.55</td>
				<td>213.56</td>
				<td>167.37</td>
				<td>187.59</td>
				<td>183.51</td>
				<td>0.164</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_MNTKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_MNTKRW', '17', event);" target="_parent">




					몽골 MNT

				</a></td>
				<td class="sale">0.44</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.000</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_ILSKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_ILSKRW', '18', event);" target="_parent">




					이스라엘 ILS

				</a></td>
				<td class="sale">311.50</td>
				<td>342.65</td>
				<td>286.58</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.275</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_DKKKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_DKKKRW', '19', event);" target="_parent">




					덴마크 DKK

				</a></td>
				<td class="sale">174.79</td>
				<td>179.07</td>
				<td>170.51</td>
				<td>176.53</td>
				<td>173.05</td>
				<td>0.154</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_NOKKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_NOKKRW', '20', event);" target="_parent">




					노르웨이 NOK

				</a></td>
				<td class="sale">137.23</td>
				<td>140.59</td>
				<td>133.87</td>
				<td>138.60</td>
				<td>135.86</td>
				<td>0.121</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_SARKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_SARKRW', '21', event);" target="_parent">




					사우디아라비아 SAR

				</a></td>
				<td class="sale">302.09</td>
				<td>321.12</td>
				<td>281.25</td>
				<td>305.11</td>
				<td>299.07</td>
				<td>0.267</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_KWDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_KWDKRW', '22', event);" target="_parent">




					쿠웨이트 KWD

				</a></td>
				<td class="sale">3,729.71</td>
				<td>3,972.14</td>
				<td>3,431.34</td>
				<td>3,767.00</td>
				<td>3,692.42</td>
				<td>3.292</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_BHDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_BHDKRW', '23', event);" target="_parent">




					바레인 BHD

				</a></td>
				<td class="sale">3,005.36</td>
				<td>3,197.70</td>
				<td>2,764.94</td>
				<td>3,035.41</td>
				<td>2,975.31</td>
				<td>2.653</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_AEDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_AEDKRW', '24', event);" target="_parent">




					아랍에미리트 AED

				</a></td>
				<td class="sale">308.43</td>
				<td>325.39</td>
				<td>287.15</td>
				<td>311.51</td>
				<td>305.35</td>
				<td>0.272</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_JODKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_JODKRW', '25', event);" target="_parent">




					요르단 JOD

				</a></td>
				<td class="sale">1,596.76</td>
				<td>1,738.87</td>
				<td>1,469.02</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>1.409</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_EGPKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_EGPKRW', '26', event);" target="_parent">




					이집트 EGP

				</a></td>
				<td class="sale">63.26</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.056</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_THBKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_THBKRW', '27', event);" target="_parent">




					태국 THB

				</a></td>
				<td class="sale">34.46</td>
				<td>36.18</td>
				<td>32.40</td>
				<td>34.80</td>
				<td>34.12</td>
				<td>0.030</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_SGDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_SGDKRW', '28', event);" target="_parent">




					싱가포르 SGD

				</a></td>
				<td class="sale">820.79</td>
				<td>837.12</td>
				<td>804.46</td>
				<td>828.99</td>
				<td>812.59</td>
				<td>0.725</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_MYRKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_MYRKRW', '29', event);" target="_parent">




					말레이시아 MYR

				</a></td>
				<td class="sale">272.79</td>
				<td>289.97</td>
				<td>252.61</td>
				<td>0.00</td>
				<td>270.07</td>
				<td>0.241</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_IDRKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_IDRKRW', '30', event);" target="_parent">


					인도네시아 IDR 100



				</a></td>
				<td class="sale">7.46</td>
				<td>7.98</td>
				<td>6.72</td>
				<td>7.53</td>
				<td>7.39</td>
				<td>0.007</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_QARKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_QARKRW', '31', event);" target="_parent">




					카타르 QAR

				</a></td>
				<td class="sale">311.15</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.275</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_KZTKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_KZTKRW', '32', event);" target="_parent">




					카자흐스탄 KZT

				</a></td>
				<td class="sale">3.05</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.003</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_BNDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_BNDKRW', '33', event);" target="_parent">




					브루나이 BND

				</a></td>
				<td class="sale">820.79</td>
				<td>853.62</td>
				<td>771.55</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.725</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_INRKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_INRKRW', '34', event);" target="_parent">




					인도 INR

				</a></td>
				<td class="sale">15.24</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.014</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_PKRKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_PKRKRW', '35', event);" target="_parent">




					파키스탄 PKR

				</a></td>
				<td class="sale">8.49</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.008</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_BDTKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_BDTKRW', '36', event);" target="_parent">




					방글라데시 BDT

				</a></td>
				<td class="sale">13.52</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.00</td>
				<td>0.012</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_PHPKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_PHPKRW', '37', event);" target="_parent">




					필리핀 PHP

				</a></td>
				<td class="sale">20.91</td>
				<td>23.00</td>
				<td>19.20</td>
				<td>21.11</td>
				<td>20.71</td>
				<td>0.019</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_MXNKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_MXNKRW', '38', event);" target="_parent">




					멕시코 MXN

				</a></td>
				<td class="sale">59.64</td>
				<td>65.60</td>
				<td>54.64</td>
				<td>60.23</td>
				<td>59.05</td>
				<td>0.053</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_BRLKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_BRLKRW', '39', event);" target="_parent">




					브라질 BRL

				</a></td>
				<td class="sale">304.86</td>
				<td>335.95</td>
				<td>280.48</td>
				<td>0.00</td>
				<td>301.21</td>
				<td>0.269</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_VNDKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_VNDKRW', '40', event);" target="_parent">



					베트남 VND 100


				</a></td>
				<td class="sale">4.85</td>
				<td>5.42</td>
				<td>4.28</td>
				<td>4.89</td>
				<td>4.81</td>
				<td>0.004</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_ZARKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_ZARKRW', '41', event);" target="_parent">




					남아프리카 공화국 ZAR

				</a></td>
				<td class="sale">77.81</td>
				<td>82.47</td>
				<td>71.59</td>
				<td>78.74</td>
				<td>76.88</td>
				<td>0.069</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_RUBKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_RUBKRW', '42', event);" target="_parent">




					러시아 RUB

				</a></td>
				<td class="sale">17.11</td>
				<td>18.30</td>
				<td>15.23</td>
				<td>17.28</td>
				<td>16.94</td>
				<td>0.015</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_HUFKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_HUFKRW', '43', event);" target="_parent">




					헝가리 HUF

				</a></td>
				<td class="sale">4.02</td>
				<td>4.39</td>
				<td>3.70</td>
				<td>4.06</td>
				<td>3.98</td>
				<td>0.004</td>
				</tr>

				<tr>
				<td class="tit"><a href="/marketindex/exchangeDetail.nhn?marketindexCd=FX_PLNKRW" onclick="parent.clickcr(this, 'exl.exlist', 'FX_PLNKRW', '44', event);" target="_parent">




					폴란드 PLN

				</a></td>
				<td class="sale">302.92</td>
				<td>327.15</td>
				<td>278.69</td>
				<td>306.25</td>
				<td>299.59</td>
				<td>0.267</td>
				</tr>

			</tbody>
		</table>
		</div>
	<script language="javascript" type="text/javascript">
		// 통화명 정렬 - asc, desc

		// xss 공격 때문에 validation check 추가
		regex = new RegExp("^asc$|^desc$");

		if ("".match(regex)) {
			var CURRENT_SORT_ORDER = "";
		} else {
			var CURRENT_SORT_ORDER = "asc";
		}

		function changeOrder(type) {
		var sortOrder = null;
		if (CURRENT_SORT_ORDER == "asc") {
			sortOrder = "desc";
		} else if (CURRENT_SORT_ORDER == "desc") {
			sortOrder = "asc";
		} else {
			sortOrder = "desc";
		}

		if(type == "exchange") {
			location.href= "/marketindex/exchangeList.nhn?sortOrder="+sortOrder;
		} else {
			location.href= "/marketindex/worldExchangeList.nhn?sortOrder="+sortOrder;
		}
	}
	</script>
<script type="text/javascript">

</script>

</body></html>

In [69]:
# tbody밑에 있는 tr들 찾기
info = list()
for tr in if_soup.select('tbody tr'):
    # 모든 텍스트는 td안에 있다
    for td in tr.findAll('td'):
        #print( '[%s]' % td.getText().strip() )
        info.append( td.getText().strip() )
print( len(info), len(info)/7 )

308 44.0

In [68]:
# numpy 구성
import pandas as pd
import numpy as np

In [72]:
# arr 이라는 배열명으로 44*7 배열(ndarray) 생성
arr = np.array( info ).reshape( int(len(info)/7), 7)
print( arr.shape, arr.ndim, arr.dtype, arr )

(44, 7) 2 <U13 [['미국 USD' '1,132.90' '1,152.72' '1,113.08' '1,144.00' '1,121.80' '1.000']
 ['유럽연합 EUR' '1,303.97' '1,329.91' '1,278.03' '1,317.00' '1,290.94'
  '1.151']
 ['일본 JPY (100엔)' '1,002.26' '1,019.79' '984.73' '1,012.08' '992.44'
  '0.885']
 ['중국 CNY' '163.59' '171.76' '155.42' '165.22' '161.96' '0.144']
 ['홍콩 HKD' '144.57' '147.41' '141.73' '146.01' '143.13' '0.128']
 ['대만 TWD' '36.58' '41.37' '34.02' '0.00' '0.00' '0.032']
 ['영국 GBP' '1,490.67' '1,520.03' '1,461.31' '1,505.57' '1,475.77' '1.316']
 ['오만 OMR' '2,942.67' '3,204.56' '2,766.11' '0.00' '0.00' '2.598']
 ['캐나다 CAD' '875.37' '892.61' '858.13' '884.12' '866.62' '0.773']
 ['스위스 CHF' '1,143.59' '1,166.11' '1,121.07' '1,155.02' '1,132.16'
  '1.009']
 ['스웨덴 SEK' '124.67' '127.72' '121.62' '125.91' '123.43' '0.110']
 ['호주 AUD' '806.62' '822.51' '790.73' '814.68' '798.56' '0.712']
 ['뉴질랜드 NZD' '735.37' '749.85' '720.89' '742.72' '728.02' '0.649']
 ['체코 CZK' '50.52' '54.81' '45.98' '51.07' '49.97' '0.045']
 ['칠레 CLP' '1.66' '1.79' '1.53' '0.00' '0.00' '0.002']
 ['터키 TRY' '185.55' '213.56' '167.37' '187.59' '183.51' '0.164']
 ['몽골 MNT' '0.44' '0.00' '0.00' '0.00' '0.00' '0.000']
 ['이스라엘 ILS' '311.50' '342.65' '286.58' '0.00' '0.00' '0.275']
 ['덴마크 DKK' '174.79' '179.07' '170.51' '176.53' '173.05' '0.154']
 ['노르웨이 NOK' '137.23' '140.59' '133.87' '138.60' '135.86' '0.121']
 ['사우디아라비아 SAR' '302.09' '321.12' '281.25' '305.11' '299.07' '0.267']
 ['쿠웨이트 KWD' '3,729.71' '3,972.14' '3,431.34' '3,767.00' '3,692.42'
  '3.292']
 ['바레인 BHD' '3,005.36' '3,197.70' '2,764.94' '3,035.41' '2,975.31'
  '2.653']
 ['아랍에미리트 AED' '308.43' '325.39' '287.15' '311.51' '305.35' '0.272']
 ['요르단 JOD' '1,596.76' '1,738.87' '1,469.02' '0.00' '0.00' '1.409']
 ['이집트 EGP' '63.26' '0.00' '0.00' '0.00' '0.00' '0.056']
 ['태국 THB' '34.46' '36.18' '32.40' '34.80' '34.12' '0.030']
 ['싱가포르 SGD' '820.79' '837.12' '804.46' '828.99' '812.59' '0.725']
 ['말레이시아 MYR' '272.79' '289.97' '252.61' '0.00' '270.07' '0.241']
 ['인도네시아 IDR 100' '7.46' '7.98' '6.72' '7.53' '7.39' '0.007']
 ['카타르 QAR' '311.15' '0.00' '0.00' '0.00' '0.00' '0.275']
 ['카자흐스탄 KZT' '3.05' '0.00' '0.00' '0.00' '0.00' '0.003']
 ['브루나이 BND' '820.79' '853.62' '771.55' '0.00' '0.00' '0.725']
 ['인도 INR' '15.24' '0.00' '0.00' '0.00' '0.00' '0.014']
 ['파키스탄 PKR' '8.49' '0.00' '0.00' '0.00' '0.00' '0.008']
 ['방글라데시 BDT' '13.52' '0.00' '0.00' '0.00' '0.00' '0.012']
 ['필리핀 PHP' '20.91' '23.00' '19.20' '21.11' '20.71' '0.019']
 ['멕시코 MXN' '59.64' '65.60' '54.64' '60.23' '59.05' '0.053']
 ['브라질 BRL' '304.86' '335.95' '280.48' '0.00' '301.21' '0.269']
 ['베트남 VND 100' '4.85' '5.42' '4.28' '4.89' '4.81' '0.004']
 ['남아프리카 공화국 ZAR' '77.81' '82.47' '71.59' '78.74' '76.88' '0.069']
 ['러시아 RUB' '17.11' '18.30' '15.23' '17.28' '16.94' '0.015']
 ['헝가리 HUF' '4.02' '4.39' '3.70' '4.06' '3.98' '0.004']
 ['폴란드 PLN' '302.92' '327.15' '278.69' '306.25' '299.59' '0.267']]

In [73]:
df = pd.DataFrame( arr )

In [75]:
df.head(2)

          0         1         2         3         4         5      6
0    미국 USD  1,132.90  1,152.72  1,113.08  1,144.00  1,121.80  1.000
1  유럽연합 EUR  1,303.97  1,329.91  1,278.03  1,317.00  1,290.94  1.151

In [76]:
# 컬럼 준비
col = ['통화명','매매기준율','사실 때','파실 때','보내실 때','받으실 때','미화환산율']
df.columns = col
df.head(2)

        통화명     매매기준율      사실 때      파실 때     보내실 때     받으실 때  미화환산율
0    미국 USD  1,132.90  1,152.72  1,113.08  1,144.00  1,121.80  1.000
1  유럽연합 EUR  1,303.97  1,329.91  1,278.03  1,317.00  1,290.94  1.151

In [77]:
# 통화명 -> 인덱스 변경 
df.set_index('통화명', inplace=True)
df.head(2)

             매매기준율      사실 때      파실 때     보내실 때     받으실 때  미화환산율
통화명
미국 USD    1,132.90  1,152.72  1,113.08  1,144.00  1,121.80  1.000
유럽연합 EUR  1,303.97  1,329.91  1,278.03  1,317.00  1,290.94  1.151

In [80]:
# 컬럼을 추가 -> 회차란 이름으로 추가 , exchange_metaInfo[3]를 값으로 세팅
df['회차'] = exchange_metaInfo[3]
df

,매매기준율,사실 때,파실 때,보내실 때,받으실 때,미화환산율,회차
통화명,,,,,,,
미국 USD,"1,132.90","1,152.72","1,113.08","1,144.00","1,121.80",1.000,20181010_095
유럽연합 EUR,"1,303.97","1,329.91","1,278.03","1,317.00","1,290.94",1.151,20181010_095
일본 JPY (100엔),"1,002.26","1,019.79",984.73,"1,012.08",992.44,0.885,20181010_095
중국 CNY,163.59,171.76,155.42,165.22,161.96,0.144,20181010_095
홍콩 HKD,144.57,147.41,141.73,146.01,143.13,0.128,20181010_095
대만 TWD,36.58,41.37,34.02,0.00,0.00,0.032,20181010_095
영국 GBP,"1,490.67","1,520.03","1,461.31","1,505.57","1,475.77",1.316,20181010_095
오만 OMR,"2,942.67","3,204.56","2,766.11",0.00,0.00,2.598,20181010_095
캐나다 CAD,875.37,892.61,858.13,884.12,866.62,0.773,20181010_095
스위스 CHF,"1,143.59","1,166.11","1,121.07","1,155.02","1,132.16",1.009,20181010_095
스웨덴 SEK,124.67,127.72,121.62,125.91,123.43,0.110,20181010_095
호주 AUD,806.62,822.51,790.73,814.68,798.56,0.712,20181010_095
뉴질랜드 NZD,735.37,749.85,720.89,742.72,728.02,0.649,20181010_095
체코 CZK,50.52,54.81,45.98,51.07,49.97,0.045,20181010_095
칠레 CLP,1.66,1.79,1.53,0.00,0.00,0.002,20181010_095
터키 TRY,185.55,213.56,167.37,187.59,183.51,0.164,20181010_095
몽골 MNT,0.44,0.00,0.00,0.00,0.00,0.000,20181010_095
이스라엘 ILS,311.50,342.65,286.58,0.00,0.00,0.275,20181010_095
덴마크 DKK,174.79,179.07,170.51,176.53,173.05,0.154,20181010_095
노르웨이 NOK,137.23,140.59,133.87,138.60,135.86,0.121,20181010_095
사우디아라비아 SAR,302.09,321.12,281.25,305.11,299.07,0.267,20181010_095
쿠웨이트 KWD,"3,729.71","3,972.14","3,431.34","3,767.00","3,692.42",3.292,20181010_095
바레인 BHD,"3,005.36","3,197.70","2,764.94","3,035.41","2,975.31",2.653,20181010_095
아랍에미리트 AED,308.43,325.39,287.15,311.51,305.35,0.272,20181010_095
요르단 JOD,"1,596.76","1,738.87","1,469.02",0.00,0.00,1.409,20181010_095
이집트 EGP,63.26,0.00,0.00,0.00,0.00,0.056,20181010_095
태국 THB,34.46,36.18,32.40,34.80,34.12,0.030,20181010_095
싱가포르 SGD,820.79,837.12,804.46,828.99,812.59,0.725,20181010_095
말레이시아 MYR,272.79,289.97,252.61,0.00,270.07,0.241,20181010_095
인도네시아 IDR 100,7.46,7.98,6.72,7.53,7.39,0.007,20181010_095
카타르 QAR,311.15,0.00,0.00,0.00,0.00,0.275,20181010_095
카자흐스탄 KZT,3.05,0.00,0.00,0.00,0.00,0.003,20181010_095
브루나이 BND,820.79,853.62,771.55,0.00,0.00,0.725,20181010_095
인도 INR,15.24,0.00,0.00,0.00,0.00,0.014,20181010_095
파키스탄 PKR,8.49,0.00,0.00,0.00,0.00,0.008,20181010_095
방글라데시 BDT,13.52,0.00,0.00,0.00,0.00,0.012,20181010_095
필리핀 PHP,20.91,23.00,19.20,21.11,20.71,0.019,20181010_095
멕시코 MXN,59.64,65.60,54.64,60.23,59.05,0.053,20181010_095
브라질 BRL,304.86,335.95,280.48,0.00,301.21,0.269,20181010_095
베트남 VND 100,4.85,5.42,4.28,4.89,4.81,0.004,20181010_095
남아프리카 공화국 ZAR,77.81,82.47,71.59,78.74,76.88,0.069,20181010_095
러시아 RUB,17.11,18.30,15.23,17.28,16.94,0.015,20181010_095
헝가리 HUF,4.02,4.39,3.70,4.06,3.98,0.004,20181010_095
폴란드 PLN,302.92,327.15,278.69,306.25,299.59,0.267,20181010_095

In [83]:
# CSV 저장, DB 저장
# pip install pymysql
import pymysql as sql
from sqlalchemy import create_engine
import pandas.io.sql as pSql

In [88]:
df_tmp = df.copy()
df_tmp.index.name = 'cur'
df_tmp.columns = ['rate','buy','sel','send','recv','us_rate', 'code']
df_tmp.head(2)

,rate,buy,sel,send,recv,us_rate,code
cur,,,,,,,
미국 USD,"1,132.90","1,152.72","1,113.08","1,144.00","1,121.80",1.000,20181010_095
유럽연합 EUR,"1,303.97","1,329.91","1,278.03","1,317.00","1,290.94",1.151,20181010_095

In [89]:
# 연결
engine = create_engine('mysql+pymysql://root:12341234@localhost:3306/pythondb'
                       , encoding='utf8')
conn   = engine.connect()
# 쓰기
# 디비에 넣는 df의 컬럼명을 테이블의 컬럼명과 동일하게 맞춰야 들어간다
# 사본작업 해서 테스트
df_tmp.to_sql( name='tbl_exchange',
           con=conn,
           if_exists='append' )
# 닫기
conn.close()

In [96]:
# code
exchange_metaInfo
# df 생성
meta_df = pd.DataFrame( exchange_metaInfo )
# 축변경
meta_df = meta_df.T
# 컬럼 조정
meta_df.columns = ['date','standard','round','code']
meta_df

               date standard round          code
0  2018.10.10 10:31  KEB하나은행   095  20181010_095

In [97]:
# code 입력
# 연결
engine = create_engine('mysql+pymysql://root:12341234@localhost:3306/pythondb'
                       , encoding='utf8')
conn   = engine.connect()
# 입력
meta_df.to_sql( name='tbl_exchCode',
           con=conn,
           if_exists='append',
           # index 부분은 추가하지않는다
           index=False
            )  
# 닫기
conn.close()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1166: UserWarning: The provided table name 'tbl_exchCode' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)